<!doctype html>
<html>
<head>
    <title>mTitle</title>
    {{{lassoHead}}}
</head>
<body>
    <div id="main">{{{reactBody}}}</div>
    <script>
        window.__PRELOADED_STATE__ = {{{preloadedState}}}
    </script>
    {{{lassoBody}}}
</body>
</html>
